Build
Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.codelite
.kdev4
.clang
.vs
*.db
*.ipch

*.opendb
*.db
*.rar

/Content
.vsconfig
/enc_temp_folder


.ignore
.vscode/
DarkLithosphere.code-workspace
Makefile

*.txt
*.workspace

UpgradeLog.htm

